<!DOCTYPE html>
<html>
<head>
    <style>
        iframe.fullScreen {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body onload="makeFullScreen()">
<iframe src="https://www.youtube.com/embed/{{ vid_id }}?autoplay=1&mute=1&controls=0&rel=0" frameborder="0"
        allow="autoplay; picture-in-picture" title="YouTube Embed"></iframe>
<script>
    function requestFullScreen(element) {
        // Supports most browsers and their versions.
        var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullscreen;

        if (requestMethod) { // Native full screen.
            requestMethod.call(element);
        } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }

    // FullScreen function
    function makeFullScreen() {
        document.getElementsByTagName("iframe")[0].className = "fullScreen";
        var elem = document.body;
        requestFullScreen(elem);
    }
</script>
</body>
</html>
